@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  place-content: center;
  place-items: center;
}
